body {
	text-align: center;
	color: #999;
}

.grid-gradient {
	border: 2px solid #4C4C4C;
	overflow: hidden;
	margin: 50px;
	box-sizing: border-box;	

	background: linear-gradient(#4C4C4C, transparent 0.5px), /* horizontal */
                linear-gradient(90deg, #4C4C4C, transparent 0.5px); /* vertical */
	background-color: black;
}

