section.log
  p
    code
      | Cycle: 
      span.count__cycle 0 

      | Life: 
      span.count__life 0 

      | Dead: 
      span.count__dead 0      

      | Point's: 
      span.count__point 0       