section.settings
  .input-block
    form
      label | Width 
        input.width(type='number', value='300', max='800', step='50')

    form
      label | Height 
        input.height(type='number', value='300', max='800', step='50')

    form
      label | speed (ms) 
        input.speed(type='number', value='300', max='2000', step='25')