doctype html
html(lang="ru-RU")
	head
		//- SEO
		meta(http-equiv='Content-Type', content='text/html; charset=utf-8')
		meta(name='Keywords', content='Full Stack Development, FSD, quest-3')
		meta(name='description', content='Best of the Best company on the world for Web dev!')
		meta(name='viewport', content='width=device-width, initial-scale=1.0, \
		maximum-scale=1.0, user-scalable=no')
		link(rel='shortcut icon', type='image/x-icon', href='src/images/favicon.png')
		title maket-3, liveGame
		
		
		//- CSS's		

		//- general	 
		link(rel='stylesheet', href='src/styles.css')
		link(rel='stylesheet', href='src/blocks/field/field.css')
		link(rel='stylesheet', href='src/blocks/control-panel/control-panel.css')
		link(rel='stylesheet', href='src/blocks/settings/settings.css')

	include ../content/content