body
	main.content
		section.content__block
			include ../field/field
			include ../log/log
			include ../control-panel/control-panel
			include ../settings/settings

			script(src='src/scripts.js', defer='')